* {
    padding:0px;
    margin: 0px;
    font-size:20px;
    box-sizing:border-box;
    font-weight:bold;
    

}

head, body{
    height:100%;
}

.container{
    display:flex;
    flex-direction:column;
    border: 5px solid blue;
    width:600px;
    
    
}


.container > div{
    display:flex;
    flex:1;
    margin:0px;
    padding:6px;
    justify-content:center;
    
    
}

div.un{
    background-color:rgb(141, 2, 255);
    
    
}

div.deux{
    background-color:green;
   
}

div.trois{
    background-color:orange;
    
}

.container >div.trois{
    
   
}