*{
    padding: 5px;
  
    
}

p.titre{
    font-size:35px;
    color:red;
    background-color:yellow;
    border: 7px blue solid;
    box-sizing:border-box;

}




.elements{
    color:blue;
}

.utile ul li{
  color:green;s
}

.utile{
    font-size:20px;
}
